<nav class="navbar fixed-buttom navbar-inverse bg-inverse " role="navigation">

    <div class="navbar-header">
        <%= link_to image_tag("vive_brand.png"), basic_landing_path, :class=>"icon-puzzle-piece icon-2x", :alt => "Vive movilidad" %>
        <button type="button" class="navbar-toggle navbar-toggler-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1 " >
             <span class="navbar-toggler-icon"></span>
        </button>

    </div>
    <div class="collapse navbar-collapse justify-content-end" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right ">

            <% if user_signed_in? %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    mapas<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% if user_signed_in? %>
                        <li><%= link_to basic_welcome_path, class: 'btn btn-outline-info my-2 my-sm-0 margin_button', method: :get do %>
                            Ubicar Bus  <%=fa_icon "bus" %>
                          <% end %>
                          <% if current_user.has_role? :Admin %>
                            <%= link_to maps_monitorFleet_path, class: 'btn btn-outline-info my-2 my-sm-0 margin_button' do %>Monitoreo <%=fa_icon "eye" %>.<%=fa_icon "eye" %> <% end %>

                          <% end%>

                        </li>
                        <li>
                            tales
                        </li>
                    <% end %>
                  </ul>
                </li>
                <li>
                    tales
                </li>
                <li>
                    tales
                </li>
                <li>
                    <%= link_to new_user_registration_path, class: 'btn btn-outline-info my-2 my-sm-0 margin_button' do%> Registrarme <%= fa_icon "pencil"%>
                    <%end%>

                </li>
                <li>
                    <%= link_to new_user_session_path, class: 'btn btn-outline-info  my-2 my-sm-0 margin_button login_button' do  %>Entrar <%= fa_icon "sign-in"%>
                    <%end%>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <% if user_signed_in? %>
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <%= current_user.email %>
                            <span class="caret"></span>
                        <% end %>
                    </a>
                    <ul class="dropdown-menu">
                        <% if user_signed_in? %>
                            <li>
                                <%= link_to edit_user_registration_path do %>
                                   <i class="fa fa-user-plus" aria-hidden="true"></i> Editar Usuario
                                <%end%>
                            </li>
                            <li>
                                <%= link_to rails_admin_path do%>
                                    <i class="fa fa-cog" aria-hidden="true"></i>  Administracion y configuraciones
                                <%end%>

                            </li>
                            <hr>
                            <li>
                                <%= link_to destroy_user_session_path, :method => :delete do %>
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesion
                                <%end%>
                            </li>
                        <%end%>
                    </ul>
                </li>
            <%else%>
                <li>
                    <%= link_to new_user_registration_path do  %>
                        <i class="fa fa-pencil-square-o " aria-hidden="true"></i> Registrarme
                    <%end%>
                </li>
                <li>
                    <%= link_to new_user_session_path  do  %>
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Entrar
                    <%end %>
                </li>
            <% end %>
        </ul>
    </div>
</nav>